@font-face {
    font-family: 'Lato Heavy';
    src: url('../fonts/Lato-Heavy.eot');
    src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Heavy.woff') format('woff'),
    url('../fonts/Lato-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Semibold';
    src: url('../fonts/Lato-SemiboldItalic.eot');
    src: url('../fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-SemiboldItalic.woff') format('woff'),
    url('../fonts/Lato-SemiboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}